body{
    background-color: hsla(0, 42%, 54%, 0.452);
}
h1{
    color: brown;
}

h2 {
    color: rgb(165, 42, 42);
}
h1{
    font-style: oblique;
    font-size: xx-large;
}

h2{
    font-style: oblique;
}
